import React from 'react';

const {{name}}Page: React.FC = () => {
  return (
    <div>
      <h1>{{name}} Page</h1>
      {/* Conteúdo do componente da página */}
    </div>
  );
};

export default {{name}}Page;
